{#{% extends 'jira2app/base.html' %}#}

{% block content %}

<h1>Sign up page</h1>

<form method="POST" action="{% url 'jira2app:signup'%}">
    {% csrf_token %}
    Username:
    <br>
    <input name="username"  type="text" >
    <br>
    Email:
    <br>
    <input name="email"  type="email" >
    <br>
    First name:
    <br>
    <input name="first_name"  type="text" >
    <br>
    Last name:
    <br>
    <input name="last_name"  type="text" >
    <br>
    Password:
    <br>
    <input name="password"  type="password" >
    <br>
    Password verification:
    <br>
    <input name="password_verification"  type="password" >
    <br>
    <br>
    <input class="btn btn-primary" type="submit" value="signup">
</form>

{% endblock %}
